<div class="container">
	<div>
		<h2><%= @movie.title %></h2>
		<h4><%= link_to "話数の追加", new_admins_movie_item_path(@movie) %></h4>
		<h2>各話</h2>
		<% @movie.items.each do |item| %>
				<div class="row"><%= item.story %></div>
				<div class="row"><%= item.gist %></div>
		<% end %>
	</div>
</div>