<div class="container" style="background-color: black;width: 100%;padding-left: 100px;height: 100vh;">
	<div style="margin: 0 auto;width: 400px;text-align: center;padding-top: 170px;">
		<h1 style="color: white;margin-bottom: 30px;">どなたが観ますか？</h1>
			<% @avatars.each do |avatar| %>
					<div style="width: 100px;height: 100%;text-align: center;float: left;">
						<%= link_to users_movies_path do %>
						<div style="width: 100px;height: 100px;border: 1px solid;">
						</div>
						<%= avatar.name %>
					</div>
				<% end %>
			<% end %>
		<div>
			<%= link_to new_users_avatar_path do %>
				<i class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size: 50px;line-height: 100px;margin-left: 30px;"></i>
			<% end %>
		</div>
	</div>
	<div>
		<%= link_to users_avatar_edit_path(current_user) do %>
			<div style="clear: both;text-align: center;border: 1px solid;width: 200px;margin: 80px auto;color: white;height: 40px;line-height: 40px;font-size: 16px;">
				プロフィールの管理
			</div>
		<% end %>
	</div>
</div>