<div class="container">
	<p>マイリスト</p>
	<div class="row">
		<% @movie_mylist.each do |my_list| %>
			<%= link_to users_movie_path(my_list.movie) do %>
				<div style="width: 200px;height: 120px;border: 1px solid;float: left;margin-right: 3px;border-radius: 5px;">
					<%= my_list.movie.title %>
				</div>
			<% end %>
		<% end %>
	</div>
	<p>全部</p>
	<div class="row">
		<% @movies.each do |movie| %>
			<%= link_to users_movie_path(movie) do %>
				<div style="width: 200px;height: 120px;border: 1px solid;float: left;margin-right: 3px;border-radius: 5px;">
					<%= movie.title %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>