<div class="container">
	<table border="1" width="700">
		<tr>
			<th width="30%">user.id</th>
			<th width="30%">メールアドレス</th>
			<th width="30%">会員状態</th>
		</tr>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.email %></td>
			<td>
				<% if user.is_deleted %>
					無効
				<% else %>
					有効
				<% end %>
			</td>
		</tr>
	<% end %>
	</table>
</div>