<div class="container">
	<div>
		<h4>編集</h4>
		<%= form_with model:@item, url:admins_movie_item_path,method: :patch do |f| %>
			<%= f.text_field :story %><br>
			<%= f.text_area :gist %><br>
			<%= f.submit '追加' %>
		<% end %>
	</div>
</div>